@model CarModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarModel</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pasajeros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pasajeros)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pricePerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pricePerDay)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Alquilar", "Create", "Alquiler", new {id = Model.id})
</div>