@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Crear Usuario</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.id)</th>
        <th>@Html.DisplayNameFor(model => model.firstName)</th>
        <th>@Html.DisplayNameFor(model => model.lastName)</th>
        <th>@Html.DisplayNameFor(model => model.username)</th>
        <th>@Html.DisplayNameFor(model => model.mail)</th>
        <th>@Html.DisplayNameFor(model => model.docType)</th>
        <th>@Html.DisplayNameFor(model => model.numDoc)</th>
        <th>@Html.DisplayNameFor(model => model.carros)</th>
        @* <th>@Html.DisplayNameFor(model => model.Carros)</th> *@
        @* <th>Actions</th> *@
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.docType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numDoc)
            </td>
            <td>
                @foreach (var cars in item.carros)
                {
                    @Html.ActionLink($"{cars.id}","Details", "Car", new {id = cars.id})
                    <a></a> 
                }
            </td>

            <td>
                @* @Html.ActionLink("Edit", "Update", new { id=item.id }) | *@
                @* @Html.ActionLink("Details", "Details", new {  id=item.id }) | *@
                @* @Html.ActionLink("Delete", "Delete", new {  id= item.id }) *@
            </td>

        </tr>
    }
    </tbody>
</table>