@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<<<<<<< HEAD
<p>
    <a asp-action="Create">Crear Usuario</a>
</p>
=======
>>>>>>> origin/main
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Username)</th>
        <th>@Html.DisplayNameFor(model => model.Mail)</th>
        <th>@Html.DisplayNameFor(model => model.DocType)</th>
        <th>@Html.DisplayNameFor(model => model.NumDoc)</th>
        <th>@Html.DisplayNameFor(model => model.Carros)</th>
        @* <th>@Html.DisplayNameFor(model => model.Carros)</th> *@
        @* <th>Actions</th> *@
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDoc)
            </td>
            <td>
                @foreach (var cars in item.Carros)
                {
                    @Html.DisplayFor(car => cars.id) 
                }
            </td>
            
            <td>
                @* @Html.ActionLink("Edit", "Update", new { id=item.id }) | *@
                @* @Html.ActionLink("Details", "Details", new {  id=item.id }) | *@
                @* @Html.ActionLink("Delete", "Delete", new {  id= item.id }) *@
            </td>
            
        </tr>
    }
    </tbody>
</table>