@model AlquilerModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>CarModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservationTime)
        </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.from)
                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.from)
        </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.to)
                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.to)
        </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.car)
                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.car)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalPrice)
        </dd>
    </dl>
</div>
@* <div> *@
@*     @Html.ActionLink("Edit", "Update", new { /* id = Model.PrimaryKey */ }) | *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@